.sc-meal {
    /* Media queries and style*/
}

@media screen and (min-width: 420px) {
    .sc-meal {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;
    }
}

@media screen and (min-width: 576px) {
    .sc-meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .sc-meal {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .sc-meal {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Meal item */
.sc-meal .meal-itm {
    box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
}

.sc-meal .meal-itm-img {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sc-meal .meal-itm-cat {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 0 18px;
    border-radius: 16px;
    font-size: 13px;
    background-color: var(--clr-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sc-meal .meal-itm-body {
    border-radius: 0 0 4px 4px;
}

.sc-meal .meal-itm-body-info {
    padding: 6px 6px 6px 12px;
}

.sc-meal .meal-itm-body-info .area {
    opacity: 0.6;
}

/* Details */
.sc-details {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 24px;
}

@media screen and (min-width: 576px) {
    .sc-details {
        padding: 32px;
    }
}

@media screen and (min-width: 768px) {
    .sc-details {
        padding: 48px;
    }
}

.sc-details .details-head .details-intro .title {
    padding: 12px 0;
    font-size: 24px;
    border-bottom: 1px solid var(--clr-orange);
}

.sc-details .details-head .details-intro .source a:hover {
    color: var(--clr-orange);
}

.sc-details .details-head .details-intro .tags h6 {
    margin-right: 12px;
}

.sc-details .details-head .details-intro .tags ul li {
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid var(--clr-orange);
    color: var(--clr-orange);
}

.sc-details .details-head .details-intro .ingredients {
    background-color: var(--clr-orange);
}

.sc-details .details-head .details-intro .ingredients h6 {
    margin-right: 12px;
}

.sc-details .details-head .details-intro .ingredients ul {
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 576px) {
    .sc-details .details-head .details-intro .ingredients ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .sc-details .details-head .details-intro .ingredients ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .sc-details .details-head .details-intro .ingredients ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

.sc-details .details-head .details-intro .ingredients ul li {
    font-size: 13.5px;
    border-radius: 4px;
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.sc-details .details-head .details-intro .ingredients ul li .li-dot {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    background-color: var(--clr-green);
    color: var(--clr-white);
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 8px;
    border: 0.5px solid white;
}

.sc-details .details-head .details-img {
    min-height: 420px;
    overflow: hidden;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
    .sc-details .details-head .details-img {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }
}

@media screen and (min-width: 1400px) {
    .sc-details .details-head .details-img {
        column-gap: 60px;
    }
}

.sc-details .details-body .measures ul {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
    .sc-details .details-body .measures ul {
        margin-top: 60px;
    }
}

.sc-details .details-body .measures ul li {
    margin-bottom: 8px;
}

.sc-details .details-body .measures ul li .li-icon {
    margin-right: 8px;
}

.sc-details .details-body .instructions ul {
    margin-top: 1rem;
}

.sc-details .details-body .instructions ul li {
    margin-bottom: 1.4rem;
    display: grid;
    grid-template-columns: 28px auto;
    align-items: flex-start;
}

.sc-details .details-body .instructions ul li .li-icon {
    margin-top: 3px;
}
